*{
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
}
a {
    color: #333;
    font-family: "Microsoft YaHei UI";
    font-size: 16px;
    text-decoration: none;
}
@media only screen and (min-width: 1899px) {
    .gywm-wrapper{
        width: 1899px;
        margin: 0 auto;
    }
}
p{
    margin: 0px;
}
.gywm-wrapper{
    background-color: #f8f8f8;
}
.gywm-head{
    width: 100%;
    height: 460px;
    background-image: url(../img/gywm-banner.png);
    background-repeat: no-repeat;
}
.gywm-body{
    height: 600px;
    background-color: #f8f8f8;
}

.gb-content{
    height: 600px;
    margin: 0 auto;
    width: 1200px;
    padding: 60px 0 100px 0;
}
.gb-list{

}
.list-picture,.list-text{
    height: 240px;
    width: 600px;
}
.item-old .list-picture{
    float: left;
}
.item-old .list-text{
    float: right;
}
.item-even .list-picture{
    float: right;
}.item-even .list-text{
     float: left;
 }
.gywm-body .title{
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: #333333;
    margin-top: 93px;
    font-weight: bold;
    font-size: 20px;
}
.gywm-body .explain{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    margin-top: 14px;
    color: #999999;
    padding: 0 60px;
}
.body-extend {
    height: 490px;
    background-color: #fff;
}

.body-extend .gb-content{
    height: 490px;
    padding: 100px 0px;
}
.body-extend .title{
    text-align: left;
    margin-top: 40px;
}
.body-extend .explain{
    text-align: left;
    padding: 0;
    margin-top: 30px;

}
.body-extend .end{
    position: relative;
    left: -60px;
    top: 48px;
    height: 40px;
    width: 660px;
    background-color: #eee;
}


.gywm-foot{
    position: relative;
    height: 630px;
    background-color: #1874dc;
}


.gf-content{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 430px;
    width: 1100px;
    background-color: #1874dc;
}
.gf-content .title{
    color: #fff;
    font-size: 20px;
    height: 70px;
    text-align: center;
}
.gf-content .title .line{
    height: 2px;
    width: 20px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    top: 4px;
}




.foot-extend{
    height: 290px;
    background-color: #fff;
}


.foot-extend .gf-content{
    height: 290px;
    width: 1200px;
    background-color: #fff;
    padding: 100px 0;
}
.foot-extend .gf-content .title{
    color: #333;
    font-size: 20px;
    height: 70px;
    text-align: center;
    font-weight: bold;
}

.foot-extend .gf-content .title .line{
    height: 2px;
    width: 20px;
    background-color: #1874dc;
    margin: 0 auto;
    position: relative;
    top: 4px;
}
.foot-extend .link{

    width: 1200px;
    height: 20px;

    margin: auto;
    text-align: center;
}
.foot-extend .link .name{
    display: inline-block;
    width: auto;
    padding: 0 30px;
    height: 20px;
    border-right: 1px solid #dadada;
}
.foot-extend .link .end{
    border: none;
}
.foot-extend .link .name a{
    font-size: 14px;
    color: #666666;
    text-decoration: none;
}