body{
	background-color: #F8F8F8;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI";
    font-size: 16px;
}
ul{
    list-style:none;
}
a{
    color: #333;
    font-size: 16px;
    text-decoration:none;
}
.wrapper-hiring{
    float: right;
    width: 900px;
    padding: 60px 0px 0 0px;
    background-color: #fff;
}
.group{
    width: 800px;
    border-bottom: 1px dashed #d5d5d5;
    padding: 0px 0px 29px 0px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.item span{
    float: left;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;

}
.job-title span{
    width: 64px;
}
.title span{
    font-size: 18px;
}
.title{
    height: 40px;
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 18px;
}
.head{
    width: 800px;
}
.body,.foot{
    padding: 0 0 30px 0;
}
.head>div{
    height: 60px;
}

.head .job-title input,.head div select{
    float: left;
    display: block;
    height: 40px;
    line-height: 40px;
    width: 676px;
    font-size: 14px;
    color: #666666;
    padding-left: 10px;
    border: 1px solid #e4e4e4;
}
.head .job-title input{
    height: 36px;
}
.head div select{
    width: 250px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.head .salary select{
      width: 110px;
}
.head .salary .salary-center{
    margin: 0;
    padding: 0 7px;
}

.degree-required span:after,.work-experience span:after,.working-place span:after,.salary span:after,.salary-center:after{
    position: relative;
    top: -26px;
    left:312px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(../img/xiala.png);
}
.salary span:after{
    left:172px;
}
.salary .salary-center:after{
    left: 116px;
}
.footer{
    color:#666666;
}
.salary .footer:after{
    display: none;
}

.working-place,.salary{
    line-height: 50px;
}

.negotiable{
    float: left;
    display: inline-block;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
}

.negotiable:checked+.icon{
    background-image: url(../img/gongzimianyi02.png);
}
.second{
    margin-right: 20px;
 }
.icon{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 5px;
    background-image: url(../img/gongzimianyi01.png);
}
.icon-before{
    background-image: url(../img/gongzimianyi01.png);
}
.icon-after{
    background-image: url(../img/gongzimianyi02.png);
}

.body .area,.h-foot .area{
    height: 200px;
    width: 680px;
}


.body textarea,.h-foot textarea{
    height: 200px;
    width: 680px;
    float: left;
    margin-bottom: 10px;
    resize:none;
    padding: 24px 10px;
    line-height: 26px;
    color: #666666;
    font-size: 14px;
    border: 1px solid #e4e4e4;
}
.h-foot{
    width: 800px;
    border-bottom: none;
}
.h-foot .require{
    height: 40px;
}
.release{
    position: relative;
    height: 100px;
}
.release input{
    position: absolute;
    top: -20px;
    right: 70px;
    font-size: 14px;
    border: none;
    height: 38px;
    width: 114px;
    background-color: #1774db;
    color: #FFFFFF;
    cursor:pointer;
}















