*{
	margin: 0;
	padding: 0;
}
#NewHunanArmy{
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
	font-size: 15px;
	font-family: "microsoft yahei";
}
.clearfix{
	clear: both;
}
.NewHnArmy_logo{
	height: 460px;
	background-image: url(../img/xxj_banner.png);
}
.NewHnArmy_Countries{
	background-color: #FFFFFF;
}
.NewHnArmy_Countries_tilte ,.NewHnArmy_Park_tilte ,.NewHnArmy_Company_tilte{
	padding-top: 100px;
	text-align: center;
	padding-bottom: 10px;
}

.NewHnArmy_Countries_making ,.NewHnArmy_Company_making{
	width: 20px;
	height: 2px;
	background-color: #1874dd;
	margin: 0 auto;
}
.NewHnArmy_Countries_content{
	padding:40px 385px 100px 385px;
}
.NewHnArmy_Countries_content_logo{
	float: left;
	width: 540px;
	height: 290px;
	margin-right: 40px;
}
.NewHnArmy_Countries_content_describle{
	width: 540px;
	height: 290px;
	float: left;
	position: relative;
}
.NewHnArmy_describle_a{
	position: relative;
	padding-top: 20px;
}
.NewHnArmy_describle_b{
	margin-top: 20px;
	color: #999999;
}
.dottedline{
	border-bottom: 1px #E7E7E7 dashed ;
	padding: 10px 0;
	margin-bottom: 10px;
}
.NewHnArmy_Park{
	background-image: url(../img/h_bg_xinxiangjun.jpg);
	height: 731px;
}
.NewHnArmy_Park_making{
	width: 20px;
	height: 2px;
	background-color: #FFFFFF;
	margin: 0 auto;
}
.NewHnArmy_describle_c{
	color: #666666;
}
.NewHnArmy_describle_c span{
	display: inline-block;
	line-height: 2em;
}
.NewHnArmy_Company{
	height: 550px;
}
.NewHnArmy_Company_describle{
	width: 1208px;
	margin: 40px auto 0 auto;
}
.NewHnArmy_Company_a{
	margin-left: 2px;
	width: 300px;
	height: 280px;
	background-color: #FFFFFF;
	float: left;
}
.NewHnArmy_Company_a_logo{
	margin-top: 55px;
	margin-left: 90px;
}
.NewHnArmy_Company_a_name{
	margin-top: 30px;
	text-align: center;
}
.NewHnArmy_Company_a_name span{
	font-size: 18px;
	color: #333333;
}

.divider{
	margin: 0 20px;
	height: 14px;
	color: #D5D5D5;
}