*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #F8F8F8 ;
	overflow-y: scroll;	
}



.nl_n_master{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 100px;
}

.nl_n_main{
	width: 280px;
	background: #FFFFFF;
	display: inline-block;
	margin-right: 20px;
	float: left;
	padding-bottom: 40px;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.06);
}

.nl_n_content div:first-child{
	font-family: "microsoft yahei";
	font-size: 16px;
	color: #1874dc;
	padding-top: 30px;
	padding-bottom: 16px;
	padding-left: 28px;
}

.nl_n_content div span a {
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #666666;
	padding-left: 28px;
	text-decoration: none;
	outline: medium;
}

.nl_n_content div:not(:first-child){
	height: 44px;
	padding-top: 10px;
}

.nl_n_line{
	border-bottom: 1px #E7E7E7 solid;
	margin-top: 10px;
	margin-left: 28px;
	width: 220px;
}

.nl_n_active{
	background: #1874dc;
}

.nl_n_active span a{
	color: #FFFFFF !important;
	outline: medium;
}

.showleftnavigation{
	display: inline-block;
	float: right;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.06);
	outline: medium;
}
