*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI";
}
ul{
    list-style:none;
}
a{
    color: #333;
    font-family: "Microsoft YaHei UI";
    font-size: 16px;
    text-decoration:none;
}
body{
    background-color: #f8f8f8;
    height: 1100px;
}
@media only screen and (min-width: 1899px) {
    .zwxq-wrapper{
        width: 1899px;
        margin: 0 auto;
    }
}
.header{
    height: 235px;
    background-image: url(../img/bg_zhiwei.jpg);
}
.hd-content{
    width: 1125px;
    height: 100%;
    margin: 0 auto;
}
.company{
    float: left;
    height: 90px;
    margin-top: 45px;
    width: 400px;
}
.cy-logo{
    height: 90px;
    width: 90px;
    float: left;
}
.cy-logo img{
    height: 100%;
    width: 100%;
    margin-top: 0px;

}
.cy-text{
    margin-left: 30px;
    float: left;
}
.tx-position,.tx-company,.tx-time{
    color: #FFFFFF;
}
.tx-position{
    vertical-align: top;
    display:table-cell;
    height: 40px;
    font-size: 22px;
}
.tx-company{
    font-size: 16px;
    height: 30px;
}
.tx-time{
    height: 20px;
    font-size: 14px;
    vertical-align:bottom;
    display:table-cell;
}
.options{
    float: right;
    width: 300px;
}
.option-1{
    float: right;
    margin-top: 60px;
    height: 48px;
    width: 135px;
}
.option-1 input{
    height: 100%;
    width: 100%;
    background-color: #1874dc;
    border: none;
    color: #FFFFFF;
    cursor:pointer;
}
.option-2{
    float: left;
    margin-top: 60px;
    height: 48px;
    width: 135px;


}
.option-2 a{
    display: block;
    height: 48px;
    width: 135px;
    color: #1874dc;
    font-size: 14px;
    background-color: #fff;
    padding: 14px 0px;
}
.option-2 img{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 31px;
    margin-right: 4px;
}
.option-2 span{
    float: left;
    color: #1874dc;
    font-size: 16px;
    line-height: 20px;
}
.wrapper-pd{
    width: 100%;
    height: 965px;
    background-color: #f8f8f8;
}
.main{
    width: 1200px;
    height: 840px;
    margin: 0 auto;
    position: relative;
    top: -55px;
    background-color: #fff;
}
.panel{
    background-color: #fff;
    height: 940px;
}
.panel-l{
    float: left;
    width: 760px;
    padding: 40px 0px 20px 30px;
    background-color: #fff;
}
.title{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    border-left: 3px solid #1874dc;
    padding-left: 10px;
    height: 16px;
    line-height: 16px;
}
.list{
    padding: 13px 20px 23px 20px;
    height: 218px;
}
.list .l{
    width: 300px;
    float: left;
}
.list .r{
    width: 300px;
    float: right;
}
.basic-information{
    height: 148px;
}
.basic-information .list{
    height: 96px;
}
.item{
    height: 48px;
    color: #333;
    font-size: 14px;
    line-height: 48px;
}

.list .item span{
    color: #999999;
    font-size: 14px;
    margin-right: 40px;
}
.list a{
    color: #1874dc;
    margin-left: 10px;
    text-decoration: none;
}
.panel-r{
    float: right;
    /*border-left: 2px solid #333333;*/
    width: 325px;
    height: 912px;
    background-color: #fff;
}
.r-content{
    width: 325px;
    height: 750px;
    border-left: 2px solid #ededed;
    margin-top: 40px;
    padding: 0px 30px;
}
.r-head{
    height: 42px;
}
.hd-l{
    float: left;
}
.hd-r{
    float: right;
}
.hd-r a{
    color: #999999;
    font-size: 14px;
    text-decoration: none;
}
.r-list{
    height: 123px;
    padding: 20px 0px;
    border-bottom: 1px dashed #e7e7e7;
}
.list-text{
    width: 100px;
    float: left;
}
.list-logo{
    float: right;
}
.tx-top{
    color: #333333;
    font-weight: bold;
    margin-bottom: 20px;
}
.tx-top a{
    text-decoration: none;
}
.tx-bottom{
    height: 30px;
}
.tx-bottom .salary{
    float: left;
    font-size: 20px;
    color: #1874dc;
}
.tx-bottom .year{
    float: right;
    font-size: 15px;
    margin-top: 5px;
}


