body{
	background-color: #F8F8F8;
}
*{
	padding: 0;
	margin: 0;
	font-family: "microsoft yahei";
}
a{
	outline: none;
	text-decoration:none; 
}
#pbservice{
	width: 900px;
	background-color:#FFFFFF;
	font-size: 14px;
	color: #333333;	
}
.pbheader{
	position: relative;
	width: 900px;
	height: 210px;
	display: block;
}
.pbimg01{
	height: 130px;
	width: 900px;
}
.pbimg02{
	width: 106px;
	height: 106px;
}

.pb_imgcon{
	position: absolute;
	width: 118px;
	height: 118px;
	border-radius: 50%;
	border: 6px solid #FFFFFF;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.pbform{
	margin: 100px 50px 40px 50px;
}

.pbdiscrible01{
	margin-bottom: 20px;
}
.pbdiscrible02 input{
	margin-left: 20px;
	margin-top: 20px;
	width: 250px;
	height: 36px;
	border: 1px solid #E4E4E4;
	outline: none;
	padding-left: 10px;
	color: #666666;
}
.dottedline{
	border-bottom: 1px #E7E7E7 dashed ;
	margin: 30px 0;
}
.pbdiscrible02 select{
	color: #666666;
	outline: none;
	margin: 20px 0 0 20px;
	width: 250px;
	height: 40px;
	border: 1px solid #E4E4E4;
	appearance: none;
	-moz-appearance:none;
    -webkit-appearance:none;
	padding-left: 10px;
    background: url(../img/xiala.png) no-repeat  right  transparent;
    background-position-x: 225px;
}
.pbdiscrible02 textarea{
	margin-left: 20px;
	margin-top: 20px;
	width: 680px;
	height: 280px;
	border: 1px solid #E4E4E4;
	resize: none;
	outline: none;
	padding: 20px 10px;
	color: #666666;
}
.type_year{
	color: #666666;
	position: relative;
	left: -30px;
}
.taskdiscrible{
	position: relative;
	top:-260px
}
.pbfontset{
	margin-left: 10px;
	color: #999999;
	
}

.pbfoot{
	display: inline ;
	margin-top: 40px;
}
.pbfoot_update{

	margin-top: 50px;
}
.pbfoot_update a{
	text-decoration: none;
	color: #1874dd;
	margin-left: 20px;
}
.pbfoot_btn{
	padding-bottom: 50px;
	margin-top: -30px;
	margin-left: 485px;
	
}
.pbfoot_btn div{
	display: inline;
}

.pbfoot_btn02 input{
	width:114px;
	height:38px;
	margin-left: 160px;
	border: 1px solid #E4E4E4;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: #1874DD;
	color: #FFFFFF;
}
