*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI";
}
.sy-wrapper{

}
@media only screen and (min-width: 1899px) {
    .sy-wrapper{
        width: 1899px;
        margin: 0 auto;
    }
}
.sy-wrapper .title{
    text-align: center;
}
ul{
    list-style:none;
}
.sy-wrapper .title a {
    color: #333;
    font-family: "Microsoft YaHei UI";
    text-decoration: none;
}
/*.sy-wrapper .title a:hover{*/
    /*color:#333;*/
/*}*/
.sy-wrapper p{
    margin: 0px;
}
.shuffling{
    background-image: url(../img/banner01.jpg);
    height: 696px;
    position: relative;
    z-index: -1;
    width: 1899px;
}
.shuffling ul{
    display: block;
    position: absolute;
    width: 45px;
    margin: 0 auto;
    bottom: 35px;
    left: 0;
    right: 0;
}
.shuffling ul li{
    float: left;
    display: block;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    border-radius: 100%;
    background-color: #f8f8f8;
}
.results{
    background-color: #f8f8f8;
    height: 320px;
    position: relative;
}
.results-content{
    width: 1200px;
    height: 200px;
    position: absolute;
    margin: auto;
    left:0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.results-content .item{
    height: 200px;
    width: 180px;
    text-align: center;
    background-color: #fff;
    float: left;
    margin-right: 24px;
}
.results-content .zxfws{
    margin-right: 0px;
}
.results-content .item .logo{
      margin-top: 30px;
}
.results-content .item .num{
     margin-top: 25px;
    color: #1874dc;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
}
.results-content .item .title{
    margin-top: 10px;
    font-size: 16px;
    color: #333333;
    height: 16px;
    line-height: 16px;
    width: 100%;
}
.sy-xqw{

}
.sy-xqw .sy-xqw-content{
    width: 1200px;
    margin: 60px auto;
    height: 407px;
}
.title a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}
.sy-xqw-content .title{
    font-size: 22px;
    margin: 60px auto 40px auto;
    line-height: 22px;
    color: #333;
    /*margin-top: 60px;*/
    /*margin-bottom: 40px;*/
}
.sy-xqw-content .hzgx{
    border-left: 3px solid #1874dc;
    padding-left: 10px;
    height: 18px;
    margin-bottom: 50px;
    position: relative;
}
.sy-xqw-content .hzgx p{
    font-size: 17px;
    color: #333;
    height: 17px;
    line-height: 17px;
}
.sy-xqw-content .show{
    width: 1100px;
    margin: 0 auto;
    height: 277px;
    overflow: hidden;
    position: relative;

}
.sy-xqw-content .gx-list{
    display:inline-flex;
    height: 277px;
    position: absolute;
    left: 0px;
}

.left-arrow,.right-arrow{
    height: 56px;
    width: 25px;
    position: absolute;
    top: 160px;
}
.left-arrow{
    left: 0px;
}
.right-arrow{
    right: 0px;
}
.sy-xqw-content .gx-item{
    float: left;
    height: 277px;
    /*width: 260px;*/
    margin-right: 20px;
    text-align: center;
}
.sy-xqw-content .gx-picture{
    height: 240px;
    width: 260px;
    overflow: hidden;
}
.sy-xqw-content .gx-picture img{
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.sy-xqw-content .gx-picture img:hover{
    transform: scale(1.05);
}
.sy-xqw-content .last{
    margin-right: 0;
}
.gx-item .gx-text{
    color: #333;
    font-size: 17px;
    height: 17px;
    line-height: 17px;
    margin-top: 20px;
}
.sy-xxj{
    background-image: url(../img/h_bg_xinxiangjun.jpg);
    height: 731px;
    width: 1899px;
}
.sy-xxj .title{
    font-size: 22px;
    margin: 0 auto;
    height: 82px;
    line-height: 22px;
    padding-top: 60px;
    /*margin-top: 60px;*/

}
.sy-xxj .title a{
    color: #fff;
}
.sy-fyb{

}
.sy-fyb-content{
    width: 1200px;
    margin: 0 auto;
}
.sy-fyb-content .title{
    font-size: 22px;
    margin: 60px auto 40px auto;
    height: 22px;
    line-height: 22px;
    color: #333;
}
.fyb-picture{
    width: 1200px;
    height: 361px;
    margin-bottom: 60px;
}
.fyb-picture .pt-left{
    position: relative;
    width: 500px;
    height: 360px;
    float: left;
    overflow: hidden;
}
.fyb-picture img{
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

}
.fyb-picture .pt-left:hover img{
    transform: scale(1.05);
}
.fyb-picture p{
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    line-height: 40px;
    position: absolute;
    bottom: 0px;
    z-index: 10;
}
.fyb-picture .pt-left p{

}
.fyb-picture .pt-right{
    float: right;
}
.fyb-picture .rt-left{
    position: relative;
    float: left;
    overflow: hidden;
}
.fyb-picture .rt-left:hover img{
    transform: scale(1.05);
}
.fyb-picture .rt-right{
    position: relative;
    float: right;
    overflow: hidden;
}
.fyb-picture .rt-right:hover img{
    transform: scale(1.05);
}
.fyb-picture .r-top{
    height: 175px;
}
.fyb-picture .r-bottom{
    position: relative;
    height: 175px;
    margin-top: 10px;
    overflow: hidden;
}
.fyb-picture .r-bottom:hover img{
    transform: scale(1.05);
}


.sy-szt{
    position: relative;
    background-image: url(../img/h_bg_xinshangtong.jpg);
    height: 445px;
    width: 1899px;
}
.sy-szt-content{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 912px;
    height: 322px;
    margin: auto;
}
.sy-szt-content .title{
    font-size: 22px;
    margin: 0px auto 30px auto;
    /*margin-bottom: 30px;*/
    height: 22px;
    line-height: 22px;

}
.sy-szt-content .title a{
    color: #fff;
}
.sy-szt-content  .newsbox{
    height: 270px;
    width: 912px;
    margin: 0 auto;
    /*border: 1px solid red;*/
    /*background-color: #000;*/
    /*box-shadow:*/
    padding: 30px 60px 25px 60px;
    background: rgba(0,0,0,0.5)
}
.newsbox ul{
    height: 166px;
}
.newsbox ul li{
    margin-top: 10px;
    height: 22px;
}
.newsbox .logo{
    float: left;
    margin-right: 10px;
}
.newsbox img{
    /*line-height: 14px;*/
}
.newsbox .text{
    float: left;

}
.newsbox .watch-logo{
    float: right;
    margin-right: 10px;

}
.newsbox .watch{
    float: right;
}
.newsbox .watch-num{
    float: right;
    color: #fff;
}
.newsbox p{
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin-top: 4px;
    color: #FFFFFF;
    width: 650px;
    overflow: hidden;
}
.newsbox p a{
    color: inherit;
    text-decoration: none;
}
.newsbox .last{
    margin-bottom: 0;
}

.more{
    margin-top: 20px;
  text-align: center;
}
.more a{
    color: #fff;
    text-decoration: none;
}
.more a:hover{
    color: #fff;
}
.newsbox .log{

}
.sy-xph{
    height: 560px;
    background-color: #F8F8F8;
    width: 100%;
}

.sy-xph .title{
    font-size: 22px;
    margin: 0 auto;
    height: 82px;
    line-height: 22px;
    padding-top: 60px;
    /* margin-top: 60px; */
    color: #333;
    width: 1200px;
}
.pie{
    position: relative;
    height: 460px;
    width: 100%;
}
#main{
    position: absolute;
    left: 0;
    right: 0;
    width: 1200px;
    height:450px;
    margin: 0 auto;
    /*padding-right: 500px;*/

}
.hall{
    height: 580px;
}
.hall-content{
   width: 1200px;
    margin: 0 auto;
    padding: 60px 0px;
    height: 580px;
}
.hall-content .title{
    font-size: 22px;
    margin: 0px auto 60px auto;
    /*margin-bottom: 30px;*/
    height: 22px;
    line-height: 22px;
    color: #333;
}
.hall-content .list-position{
    width: 490px;
    float: left;
}
.hall-content .list-talent{
    width: 490px;
    float: right;
}
.hall-content .position-top{
    border-left: 3px solid #1874dc;
    margin-bottom: 20px;
}
.position-top .position-tl{
    padding-left: 10px;
    font-size: 18px;
    color: #333;

}
.position-top a{
    font-size: 14px;
    color: #999;
    float: right;
}
.hall-content .item{
    position: relative;
    height: 80px;
    border-bottom: 1px dashed #e7e7e7;
}
.hall-content .item-l{
   position: absolute;
    top: 10px;
}
.hall-content .item-l .logo{
    position: absolute;
}
.hall-content .item-l .text{
    position: absolute;
    width: 300px;
    height: 60px;
    left: 70px;
}
.hall-content .item-l .text .text-job{
    position: absolute;
    top: 0px;
    font-size: 16px;
    color: #333;
}
.hall-content .item-l .text .text-job a{
    text-decoration: none;
    color: inherit;
}
.hall-content .item-l .text .text-company{
    position: absolute;
    bottom: 0;
    font-size: 16px;
    color: #999;
}
.hall-content .item-l .text .text-company a{
    text-decoration: none;
    color: inherit;
}
.hall-content .item-l .text p{
    width: auto;
    display: inline-block;
}
.hall-content .item-r{
    position: absolute;
    /*left: 0px;*/
    right: -490px;
    top: 16px;
    /*height: 80px;*/
}
.hall-content .item-r p{
    font-size: 20px;
    color: #1874dc;
}
/*左边结束*/
.hall-content .list-talent{
    width: 490px;
    float: right;
}
.hall-content .talent-top{
    border-left: 3px solid #1874dc;
    margin-bottom: 20px;
}
.talent-top .talent-tl{
    padding-left: 10px;
    font-size: 18px;
    color: #333;

}
.talent-top a{
    font-size: 14px;
    color: #999;
    float: right;
}
.hall-content .list-talent .item{
    position: relative;
    height: 80px;
    border-bottom: none;
}
.hall-content .list-talent .item p{
    font-size: 16px;
}
.hall-content .item-l .text .text-name{
    position: absolute;
    top: 0px;
    font-size: 16px;
    color: #333;
}
.hall-content .item-l .text .text-name a{
    text-decoration: none;
    color: inherit;
}
.hall-content .item-l .text .text-record{
    position: absolute;
    bottom: 0;
    font-size: 16px;
    color: #999;
}
.hall-content .item-l .text p{
    width: auto;
    display: inline-block;
}
/*hall结束*/
.outsourced{
    position: relative;
    height: 694px;
    background-image: url(../img/h_bg_waibao.jpg);
}
.outsourced-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1200px;
    margin: auto;
    height: 574px;
    background-color: #fff;
    padding: 60px 30px;
}
.outsourced-content .title{
    font-size: 22px;
    margin: 0px auto 60px auto;
    /*margin-bottom: 30px;*/
    height: 22px;
    line-height: 22px;
    color: #333;
}
.outsourced-content .list-position{
    width: 490px;
    float: left;
}
.outsourced-content .list-talent{
    width: 490px;
    float: right;
}
.outsourced-content .position-top{
    border-left: 3px solid #1874dc;
    margin-bottom: 20px;
}
.position-top .position-tl{
    padding-left: 10px;
    font-size: 18px;
    color: #333;

}
.position-top .position-tl a{
	float: none;
	font-size: inherit;
	color: inherit;
}
.position-top a{
    font-size: 14px;
    color: #999;
    float: right;
    text-decoration: none;
}
.outsourced-content .item{
    position: relative;
    height: 80px;
    border-bottom: 1px dashed #e7e7e7;
}
.outsourced-content .item-l{
    position: absolute;
    top: 10px;
}
.outsourced-content .item-l .logo{
    position: absolute;
}
.outsourced-content .item-l .text{
    position: absolute;
    width: 300px;
    height: 60px;
    left: 70px;
}
.outsourced-content .item-l .text .text-job{
    position: absolute;
    top: 0px;
    font-size: 16px;
    color: #333;
}
.outsourced-content .item-l .text .text-job a{
    text-decoration: none;
    color: inherit;
}
.outsourced-content .item-l .text .text-company{
    position: absolute;
    bottom: 0;
    font-size: 16px;
    color: #999;
}
.outsourced-content .item-l .text .text-company a{
    text-decoration: none;
    color: inherit;
}
.outsourced-content .item-l .text p{
    width: auto;
    display: inline-block;
}
.outsourced-content .item-r{
    position: absolute;
    /*left: 0px;*/
    right: -490px;
    top: 16px;
    /*height: 80px;*/
}
.outsourced-content .item-r p{
    font-size: 20px;
    color: #1874dc;
}
/*左边结束*/
.outsourced-content .list-talent{
    width: 490px;
    float: right;
}
.outsourced-content .talent-top{
    border-left: 3px solid #1874dc;
    margin-bottom: 20px;
}
.talent-top .talent-tl{
    padding-left: 10px;
    font-size: 18px;
    color: #333;

}
.talent-top .talent-tl a{
	float: none;
	font-size: inherit;
	color: inherit;
}
.talent-top a{
    font-size: 14px;
    color: #999;
    float: right;
    text-decoration: none;
}
.outsourced-content .list-talent .item{
    position: relative;
    height: 80px;
    border-bottom: none;
}
.outsourced-content .item-l .text .text-name{
    position: absolute;
    top: 0px;
    font-size: 16px;
    color: #333;
}
.outsourced-content .item-l .text .text-name a{
    text-decoration: none;
    color: inherit;
}
.outsourced-content .item-l .text .text-record{
    position: absolute;
    bottom: 0;
    font-size: 16px;
    color: #999;
}
.outsourced-content .item-l .text p{
    width: auto;
    display: inline-block;
}
.outsourced-content .single .item-l .text-job{
    top:22px;
}
.outsourced-content .list-talent .item .item-r p{
    font-size: 16px;
}
