*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei UI";
    font-size: 16px;
    color: #666;
}
ul{
    list-style:none;
}
a{
    color: #333;
    font-family: "Microsoft YaHei UI";
    font-size: 16px;
    text-decoration:none;
}
@media only screen and (min-width: 1899px) {
    .rcxq-wrapper{
        width: 1899px;
        margin: 0 auto;
    }
}
.header{
    height: 235px;
    width: 1899px;
    background-image: url(../img/bg_rencai.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*margin-top: 75px;*/
}
.hd-content{
    width: 1125px;
    height: 100%;
    margin: 0 auto;
}
.company{
    float: left;
    height: 90px;
    margin-top: 45px;
    width: 400px;
}
.cy-logo{
    height: 90px;
    width: 90px;
    float: left;
}
.cy-logo img{
    height: 100%;
    width: 100%;
    margin-top: 0px;

}
.cy-text{
    margin-left: 30px;
    float: left;
}
.tx-position,.tx-company,.tx-time{
    color: #FFFFFF;
}
.tx-position{
    vertical-align: top;
    display:table-cell;
    height: 40px;
    font-size: 22px;
}
.tx-company{
    font-size: 16px;
    height: 30px;
}
.tx-time{
    height: 20px;
    font-size: 14px;
    vertical-align:bottom;
    display:table-cell;
}
.options{
    float: right;
    width: 300px;
}
.option-1{
    float: right;
    margin-top: 60px;
    height: 48px;
    width: 135px;
    cursor:pointer;
}
.option-1 input,.contact input{
    height: 100%;
    width: 100%;
    background-color: #1874dc;
    border: none;
    color: #FFFFFF;
    cursor:pointer;
}
.option-2{
    /*cursor:pointer;*/
    float: left;
    margin-top: 60px;
    height: 48px;
    width: 135px;

}
.option-2 a{
    display: block;
    height: 48px;
    width: 135px;
    color: #1874dc;
    font-size: 14px;
    background-color: #fff;
    padding: 14px 0px;
}
.option-2 img{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 31px;
    margin-right: 4px;
}
.option-2 span{
    float: left;
    color: #1874dc;
    font-size: 16px;
    line-height: 20px;
    /*line-height: 48px;*/
}
.wrapper-dt{
    width: 100%;
    height: 1325px;
    background-color: #f8f8f8;
}
.main{
    width: 1200px;
    /*height: 840px;*/
    height: 1380px;
    margin: 0 auto;
    position: relative;
    top: -55px;


}
.group{
    height: 150px;
}
.panel{}
.panel-l{
    width: 1140px;
    padding: 40px 30px 50px 30px;
    background-color: #fff;
}
.title{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    border-left: 3px solid #1874dc;
    padding-left: 10px;
    height: 16px;
    line-height: 16px;
}
.list{
    padding: 13px 20px;
    line-height: 28px;
    height: 349px;
}
.job-description .list,.job-requirements .list,.company-introduction .list{
    height: 105px;
}
.list .l{
    width: 400px;
    float: left;
}
.list .r{
    width: 350px;
    float: right;
}
.basic-information{
    height: 391px;
}
textarea{
    height: 130px;
    width: 936px;
    padding: 15px 20px;
    resize: none;
    border: 1px solid #e4e4e4;
    margin-top: 17px;
    vertical-align:top;
}
.list .personal-assessment{
    width: 100%;
}
.list .personal-assessment .pa{
    display: inline-block;
    width: 64px;
    font-size: 16px;
    color: #333333;
}
.item{
    height: 48px;
    color: #333;
    font-size: 14px;
    line-height: 48px;
}

.list .item span{
    color: #999999;
    font-size: 14px;
    margin-right: 40px;
}
.list .item .record{
    margin-right: 68px;
}
.panel-r{
    float: right;
    /*border-left: 2px solid #333333;*/
    width: 325px;
    height: 750px;

}
.r-content{
    width: 265px;
    height: 100%;
    border-left: 2px solid #666;
    margin-top: 40px;
    padding: 0px 30px;
}
.company-work{
    height: 300px;
}
.r-head{
    height: 60px;
}
.hd-l{
    float: left;
}
.hd-r{
    float: right;
}
.hd-r a{
    color: #666666;
    font-size: 14px;
}
.r-list{
    height: 60px;
    padding: 25px 0px;
    border-bottom: 1px dotted #333333;
}
.list-text{
    width: 100px;
    float: left;
}
.list-logo{
    float: right;
}
.tx-top{
    color: #333333;
    font-weight: bold;
    margin-bottom: 20px;
}
.tx-bottom{
    height: 30px;
}
.tx-bottom .salary{
    float: left;
    font-size: 20px;
    color: #1874dc;
}
.tx-bottom .year{
    float: right;
    font-size: 15px;
    margin-top: 5px;
}
.contact{
    height: 60px;
    width: 350px;
    margin: 0 auto;
}


